.container-fluid h2{
    color: #0A66C3;
    font-size: 1.6rem;
}
a.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}
.col-md-6 {
    display: block;
    box-sizing: border-box;
}
img {
    max-width:500px;
  }
.container mt-5 {
    padding: 0;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
    display: block;
}
.container-fluid h1 {
    color: #8F5849;
    font-size: 32px;
    padding : 0px 0px 24px;
}