.navbar .form-control {
  font-size: 14px;
  width: 280px;
  background-color: #eef6ff;
  border-color: white;
}
.logo{
    width: 30px;
    height: 30px;
}
.card {
  border-radius: 10px;
}
.navbar .input-group-text {
  background-color: #eef6ff;
  border-color: white;
}
.nav-link{
  display: flex;
  align-items: center;
}
.navbar-nav {
  align-items: center;
}
.main-about .main{
    width: 500px;
    margin-right: 18px;
}
.navbar-nav .nav-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 18px;
  text-align: center;
}
.navbar-nav .text-nav {
  align-items: center;
  font-size: 12px;
  line-height: 18px;
}
.grow{
    text-align: center;
    color: #0A66C2;
    margin: 0;
}
main{
    top: 0;
    margin-top: 80px;
}
.sidebar{
    margin-left: 5%;
}
.sidebar_categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.sidebar_categories .sidebar_category {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin-left: 5px;
  }
.sidebar_categories .sidebar_category span {
    margin-left: 20px;
    cursor: pointer;
    display: flex;
}
footer {
    padding: 0 10px;
    margin-bottom: 30px;
    display: inline-block
  }
  
.footer-content {
    margin-bottom: 10px;
    text-align: center;
}
  
.footer-text {
    display: inline-block;
    margin-right: 8px;
}
  
.footer-last_text p {
    color: blue;
    font-size: 12px;
  }
  
footer a {
    color: #606060;
    text-decoration: none;
    font-size: 13px;
    line-height: 0.8rem;
}
footer a:hover{
    text-decoration: underline;
}
.sub-group{
    position:sticky;
    position: -webkit-sticky;
}
.Text h3.Start{
    display: inline-block;
}
.Text p.Start{
    opacity: 0.5;
    display: inline;
    margin-left:220px ;
    right: 0;
}
.personal-contact .nav-item{
    padding: 0;
}
.btn-continue{
    border-radius: 24px;
    background-color: white;
    padding: 5px 18px;
    border: #0A66C2 1px solid;
    line-height: 24px;
  }
.btn-continue:hover{
    box-shadow: inset 0 0 0 1px #0A66C2;
}
.more a:hover{
    color: #0A66C2;

}
.more:hover{
    text-decoration: underline;
}
.modal{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  align-items:flex-end;
  justify-content: right;
  
}
.modal-close{
  position: absolute;
  right: 0;
  top:0;
  padding: 5px;
  cursor: pointer;
  opacity: 0.8;
}
.modal-container{
  background-color: #fff;
  width: 380px ;
  border-radius:2px ;
  min-height: 400px;
  position: relative;
  animation: modalFadein ease .5s;
}
.modal-body{
  display: flex;
  align-items: baseline;
}
a.btn.btn-modal {
  font-size: 12px;
  border: solid 1px;
  border-radius: 24px;
  margin-top: 2px;
}
a.btn.btn-modal:hover{
  background-color: rgb(128, 124, 124);
}
.modal-footer{
  display: block;
  
}
.modal-footer>a{
  text-decoration: none;
  margin: 0;
}
.modal-footer>a:hover{
  text-decoration:underline;
}
.modal-footer>a>h2{
  font-size: 14px;
 color: #5e5e5e;
 
}
.modal-footer>a>p{
  font-size: 12px;
  color: #c1c1c1;
  margin-bottom: 5px;
}
.modal.open{
  display: flex;
}
@keyframes modalFadein{
  from {
      transform: translateX(400px);
  }
  to{
      transform: translateX(0);
  }
}