header.container-fluid{
    display: block;
    box-sizing: border-box;

}
section.container-fluid.notifications-Content{
    margin-top: 80px;
    padding: 0px 48px;
    height: 530px;
    background-color: #f3f2ef;
}
.notifications-Manage{
    background-color: white;
    border-radius: 2px;
}
.modal{
    display: block;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3)
   
}
.modal-body li{
    display: flex;

}